:root {
	--color-white: #f2e3da;
	--color-black: #26262d;
	--color-primary: #a07178;
	--color-secondary: #53475a;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	display: flex;
	background-color: var(--color-white);
	font-family: 'Inter Variable';

	flex-direction: column;
}

main {
	padding-top: 8vh;
	min-height: 100vh;
	animation: fade-in 2s forwards;
}

@keyframes fade-in {
	from {
		opacity: 0%;
	}

	to {
		opacity: 100%;
	}
}
